{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API Reference (Scraped Best-Effort)",
    "version": "0.0.0",
    "description": "Generated from public Notion API reference pages. Verify uncertain inferred schemas before SDK generation."
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/commentCreated": {
      "post": {
        "summary": "Comment created",
        "description": "Webhook event for comment created in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "x-inferred": true
                        },
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "page_id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "type": "<string>",
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "page_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/comment-created",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/commentDeleted": {
      "post": {
        "summary": "Comment deleted",
        "description": "Webhook event for comment deleted in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "x-inferred": true
                        },
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "page_id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "type": "<string>",
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "page_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/comment-deleted",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/commentUpdated": {
      "post": {
        "summary": "Comment updated",
        "description": "Webhook event for comment updated in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "x-inferred": true
                        },
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "page_id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "type": "<string>",
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "page_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/comment-updated",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/data": {
      "patch": {
        "summary": "Update data source properties",
        "description": "The API represents columns of a data source in the Notion app UI as data source properties.",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          },
          {
            "name": "Property",
            "in": "query",
            "required": false,
            "description": "Type Description",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-data-source-properties"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "string The name of the property as it appears in Notion.",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-data-source-properties"
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "optional array of existing select options and select option objects Settings for select properties. If an existing option is omitted, it will be removed from the data source property. New options will be added to the data source property. ",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-data-source-properties"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "optional string ID of the option. \"ff8e9269-9579-47f7-8f6e-83a84716863c\"",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-data-source-properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available."
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/update-data-source-properties",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "low",
        "x-warnings": [
          "method/path inferred from page text; verify before SDK generation",
          "no JSON examples found"
        ]
      }
    },
    "/database": {
      "patch": {
        "summary": "Update database properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          },
          {
            "name": "Property",
            "in": "query",
            "required": false,
            "description": "Type Description",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-property-schema-object"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "string The name of the property as it appears in Notion.",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-property-schema-object"
          },
          {
            "name": "options",
            "in": "query",
            "required": false,
            "description": "optional array of existing select options and select option objects Settings for select properties. If an existing option is omitted, it will be removed from the database property. New options will be added to the database property. ",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-property-schema-object"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "optional string ID of the option. \"ff8e9269-9579-47f7-8f6e-83a84716863c\"",
            "schema": {
              "type": "string"
            },
            "x-confidence": "low",
            "x-source-url": "https://developers.notion.com/reference/update-property-schema-object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available."
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/update-property-schema-object",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "low",
        "x-warnings": [
          "method/path inferred from page text; verify before SDK generation",
          "no JSON examples found"
        ]
      }
    },
    "/databaseContentUpdated": {
      "post": {
        "summary": "Database content updated",
        "description": "Webhook event for database content updated in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "updated_blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-inferred": true
                              }
                            },
                            "additionalProperties": true,
                            "x-inferred": true
                          },
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "updated_blocks": [
                          {
                            "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                          }
                        ]
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-content-updated",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/databaseCreated": {
      "post": {
        "summary": "Database created",
        "description": "Webhook event for database created in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-created",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/databaseDeleted": {
      "post": {
        "summary": "Database deleted",
        "description": "Webhook event for database deleted in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-deleted",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/databaseMoved": {
      "post": {
        "summary": "Database moved",
        "description": "Webhook event for database moved in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-moved",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/databases": {
      "get": {
        "summary": "Search optimizations and limitations",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available."
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/search-optimizations-and-limitations",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "low",
        "x-warnings": [
          "method/path inferred from page text; verify before SDK generation",
          "no JSON examples found"
        ]
      }
    },
    "/databaseSchemaUpdated": {
      "post": {
        "summary": "Database schema updated",
        "description": "Webhook event for database schema updated in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "updated_properties": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-inferred": true
                              },
                              "name": {
                                "type": "string",
                                "x-inferred": true
                              }
                            },
                            "additionalProperties": true,
                            "x-inferred": true
                          },
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "updated_properties": [
                          {
                            "id": "<string>",
                            "name": "<string>"
                          }
                        ]
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-schema-updated",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/databaseUndeleted": {
      "post": {
        "summary": "Database undeleted",
        "description": "Webhook event for database undeleted in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/database-undeleted",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/dataSourceContentUpdated": {
      "post": {
        "summary": "Data source content updated",
        "description": "Webhook event for data source content updated in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "updated_blocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-inferred": true
                              }
                            },
                            "additionalProperties": true,
                            "x-inferred": true
                          },
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "updated_blocks": [
                          {
                            "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                          }
                        ]
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/data-source-content-updated",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/dataSourceCreated": {
      "post": {
        "summary": "Data source created",
        "description": "Webhook event for data source created in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/data-source-created",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/dataSourceDeleted": {
      "post": {
        "summary": "Data source deleted",
        "description": "Webhook event for data source deleted in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/data-source-deleted",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/dataSourceMoved": {
      "post": {
        "summary": "Data source moved",
        "description": "Webhook event for data source moved in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        }
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response. See Notion API error docs."
          }
        },
        "x-source-url": "https://developers.notion.com/reference/webhooks/data-source-moved",
        "x-scraped-at": "2026-06-05T17:06:33.982Z",
        "x-confidence": "high",
        "x-warnings": []
      }
    },
    "/dataSourceSchemaUpdated": {
      "post": {
        "summary": "Data source schema updated",
        "description": "Webhook event for data source schema updated in a workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/NotionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. Schema inferred from docs examples where available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "timestamp": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "workspace_name": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "subscription_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "integration_id": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    },
                    "attempt_number": {
                      "type": "number",
                      "x-inferred": true
                    },
                    "type": {
                      "type": "string",
                      "x-inferred": true
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-inferred": true
                            },
                            "data_source_id": {
                              "type": "string",
                              "x-inferred": true
                            }
                          },
                          "additionalProperties": true,
                          "x-inferred": true
                        },
                        "updated_properties": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-inferred": true
                              },
                              "name": {
                                "type": "string",
                                "x-inferred": true
                              }
                            },
                            "additionalProperties": true,
                            "x-inferred": true
                          },
                          "x-inferred": true
                        }
                      },
                      "additionalProperties": true,
                      "x-inferred": true
                    },
                    "accessible_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "x-inferred": true
                          },
                          "type": {
                            "type": "string",
                            "x-inferred": true
                          }
                        },
                        "additionalProperties": true,
                        "x-inferred": true
                      },
                      "x-inferred": true
                    }
                  },
                  "additionalProperties": true,
                  "x-inferred": true
                },
                "examples": {
                  "example1": {
                    "value": {
                      "id": "<string>",
                      "timestamp": "<string>",
                      "workspace_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "workspace_name": "<string>",
                      "subscription_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "integration_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                      "authors": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ],
                      "attempt_number": 123,
                      "type": "<string>",
                      "entity": {
                        "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                      },
                      "data": {
                        "parent": {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "data_source_id": "3c90c3cc-0d44-4b50-8888-8dd25736052a"
                        },
                        "updated_properties": [
                          {
                            "id": "<string>",
                            "name": "<string>"
                          }
                        ]
                      },
                      "accessible_by": [
                        {
                          "id": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                          "type": "<string>"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
[...]
